[Unit]
Description=Charon File Metadata service
Requires=rc-local.service
After=rc-local.service

[Service]
Environment=CHARON_USE_SESSION_BUS=0
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/Charon/Service/main.py
BusName=nl.ultimaker.charon

[Install]
WantedBy=griffin.target
